{
   "env": {
    "browser": true
  },
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "script"
  },
  "rules": {
    "camelcase": ["error", { "properties": "never" }],
    "curly": "error",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "eqeqeq": "error",
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "no-cond-assign": ["error", "always"],
    "strict": ["error", "global"],
    "semi": "error",
    "max-len": ["error", 80, { "ignoreComments": true }]
  }
}
