[MESSAGES CONTROL]
disable=locally-disabled, exec-used, too-many-instance-attributes,
        wrong-import-order,superfluous-parens, fixme, invalid-name, no-member, too-many-arguments, locally-enabled, too-many-locals, duplicate-code
        # Disable duplicate-code globally, since can't disable locally
        # https://github.com/PyCQA/pylint/issues/214
[FORMAT]

# Maximum number of characters on a single line.
max-line-length=80
