language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

before_install:
    - nvm install 6

install:
  - python setup.py deps_install

script:
  - python setup.py lint
  - python setup.py test
  - python setup.py e2e_test
