include vprof/ui/profile.html
include vprof/ui/vprof_min.js
include vprof/ui/code_heatmap.css
include vprof/ui/flame_graph.css
include vprof/ui/memory_stats.css
include vprof/ui/profiler.css
include vprof/ui/vprof.css
include vprof/ui/progress.gif
include vprof/ui/favicon.ico
include requirements.txt
include dev_requirements.txt
