[MESSAGES CONTROL]
disable=locally-disabled, no-self-use, exec-used, too-few-public-methods,
        too-many-instance-attributes, bad-builtin, wrong-import-order,
        superfluous-parens, import-error, fixme, arguments-differ,
        attribute-defined-outside-init, invalid-name, too-many-locals,
        no-member, too-many-arguments, locally-enabled, no-name-in-module,
[FORMAT]

# Maximum number of characters on a single line.
max-line-length=80
