[MESSAGES CONTROL]
disable=locally-disabled, no-self-use, exec-used, too-few-public-methods,
        too-many-instance-attributes, bad-builtin, wrong-import-order,
        superfluous-parens, import-error, fixme, arguments-differ,
        duplicate-code, attribute-defined-outside-init, invalid-name,
        no-member, too-many-arguments, locally-enabled, no-name-in-module,
        # Disable duplicate-code globally, since can't disable locally
        # https://github.com/PyCQA/pylint/issues/214
[FORMAT]

# Maximum number of characters on a single line.
max-line-length=80
