.flame-graph-rect-normal {
  opacity: 0.85;
  stroke: white;
  stroke-width: 2;
}

.flame-graph-rect-hightlight {
  opacity: 0.85;
  stroke: white;
  stroke-width: 4;
}

.flame-graph-no-data-message {
  background: #BCBCBC;
  border-radius: 5px;
  font-size: 16px;
  top: 50%;
  left: 50%;
  opacity: 0.9;
  transform: translate(-50%, -50%);
  padding: 15px;
  position: fixed;
}


