body {
  background: #4C4C4C;
  font-family: 'Helvetica Neue', Helvetica;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
}

a:link {
  color: #3182bd;
  text-decoration: none;
}

a:visited {
  color: #756bb1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tab-header {
  margin: 0;
}

.tab-content {
  background: #F1F1F1;
  display: block;
  height: 96%;
}

.tab-content-hidden {
 display: none;
}

.tab-header li {
  border-radius: 5px 5px 0px 0px;
  font-family: 'Tahoma', Geneva, sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  padding: 3 30px;
}

.selected {
  background: #F1F1F1;
}

.not-selected {
  background: #BCBCBC;
}

svg {
  font-size: 13px;
  padding: 5px;
}

.memory-graph {
  fill: #9edae5;
  opacity: 0.6;
  stroke: #17becf;
  stroke-width: 2px;
}

.memory-graph-focus {
  fill: #e6550d;
}

.memory-graph-dot {
  fill: #6baed6;
}

.focus-line {
  stroke: #e6550d;
  stroke-dasharray: 4;
}

.focus-line-highlight {
  fill: #fd8d3c;
  opacity: 0.3;
  stroke: #e6550d;
  stroke-width: 2px;
}

.rect-normal {
  opacity: 0.85;
  stroke: white;
  stroke-width: 2;
}

.rect-hightlight {
  opacity: 0.85;
  stroke: white;
  stroke-width: 4;
}

.tooltip-visible {
  display: block;
}

.tooltip-invisible {
  display: none;
}

.legend {
  background: #BCBCBC;
  border: 0px;
  font: 15px sans-serif;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  text-align: center;
}

.axis {
  fill: none;
  stroke: #636363;
  stroke-width: 2px;
}

.axis text {
  fill: black;
  stroke: none;
  text-anchor: end;
}

.tick text{
  fill: black;
  stroke: none;
}

.bar {
  fill: #003399;
}

.tooltip {
  background: white;
  border: 0px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  text-align: center;
}

p {
  margin: 0px;
  text-align: left;
}

#heatmap-layout {
  display: flex;
  height: 99%;
  flex-direction: row;
}

.module-list {
  padding: 8px;
  padding-left: 50px;
  width: 25%;
}

.module-header {
  font-size: 15px;
  padding-top: 10px;
}

.module-name {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco;
  font-size: 12px;
  white-space: pre;
}

.code-container {
  min-width: 45%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 5px;
}

.src-file {
  padding-bottom: 15px;
}

.src-code {
  background: #FBFBFB;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco;
  font-size: 12px;
  white-space: pre;
}

.src-code-header {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco;
  font-size: 12px;
}

.src-line-normal {
  display: block;
  opacity: 1;
}

.src-line-highlight {
  display: block;
  opacity: 0.6;
}

.src-line-number {
  background-color: #D2D7D3;
  display: table-cell;
  text-align: right;
  padding-right: 8px;
  width: 28px;
}

.src-line-code {
  display: table-cell;
  padding-left: 5px;
}

.skip-line {
  padding: 5px;
  text-align: center;
}

#progress-indicator {
  background: url('progress.gif') no-repeat center center;
  background-color: #F1F1F1;
  height: 100%;
  position: absolute;
  width: 100%;
}
