body {
  background: #4C4C4C;
  font-family: 'Helvetica Neue', Helvetica;
}

.tab-header {
  margin: 0;
}

.tab-content {
  background: #F1F1F1;
}

.tab-header li {
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  display: inline-block;
  padding: 5 50px;
}

.selected {
  background: #F1F1F1;
}

.not-selected {
  background: #BCBCBC;
}

svg {
  font-size: 13px;
  padding: 10px;
}

.rect-normal {
  opacity: 0.85;
  stroke: white;
  stroke-width: 2;
}

.rect-hightlight {
  opacity: 0.85;
  stroke: white;
  stroke-width: 4;
}

.tooltip-visible {
  display: block;
}

.tooltip-invisible {
  display: none;
}

.legend {
  background: #BCBCBC;
  border: 0px;
  font: 15px sans-serif;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  text-align: center;
}

.axis {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.axis text {
  fill: black;
  stroke: none;
  text-anchor: end;
}

.tick text{
  fill: black;
  stroke: none;
}

.bar {
  fill: #003399;
}

.tooltip {
  background: white;
  border: 0px;
  font: 12px sans-serif;
  padding: 3px;
  pointer-events: none;
  position: absolute;
  text-align: center;
}

p {
  margin: 0px;
  text-align: left;
}