html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.chart {
  overflow: auto;
  height: 100%;
}

svg {
  padding: 15px;
  font-size: 12px;
}

.profile-stats {
  padding: 15px;
  font-size: 14px;
  max-width: 50%;
  height: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
  font-size: 12.5px;
}

th {
  text-align: left;
  background: #ccc;
  border: 1px solid #aaa;
  padding: 5px 10px
}

td {
  border: solid 1px #CCC;
  padding: 5px 10px;
}

tr:nth-child(odd)
{
  background-color: #eee;
}

.rect-normal {
  stroke: white;
  stroke-width: 2;
  opacity: 0.75;
}

.rect-hightlight {
  stroke: white;
  stroke-width: 4;
  opacity: 0.75;
}

.summary-head {
  font-weight: bold;
}

.summary-name {
  margin: 5px 0;
  font-weight: bold;
  color: #333;
}

.summary-value {
  font-weight: normal;
}

.tooltip-visible {
  display: block;
}

.tooltip-invisible {
  display: none;
}