body {
  background: #4C4C4C;
  font-family: 'Helvetica Neue', Helvetica;
  height: 95%;
}

.tab-header {
  margin: 0;
}

.tab-content {
  background: #F1F1F1;
  height: 100%;
}

.tab-header li {
  border-radius: 5px 5px 0px 0px;
  font-family: 'Tahoma', Geneva, sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  padding: 3 30px;
}

.selected {
  background: #F1F1F1;
}

.not-selected {
  background: #BCBCBC;
}

svg {
  font-size: 13px;
  padding: 10px;
}

.rect-normal {
  opacity: 0.85;
  stroke: white;
  stroke-width: 2;
}

.rect-hightlight {
  opacity: 0.85;
  stroke: white;
  stroke-width: 4;
}

.tooltip-visible {
  display: block;
}

.tooltip-invisible {
  display: none;
}

.legend {
  background: #BCBCBC;
  border: 0px;
  font: 15px sans-serif;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  text-align: center;
}

.axis {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.axis text {
  fill: black;
  stroke: none;
  text-anchor: end;
}

.tick text{
  fill: black;
  stroke: none;
}

.bar {
  fill: #003399;
}

.tooltip {
  background: white;
  border: 0px;
  font: 12px sans-serif;
  padding: 3px;
  pointer-events: none;
  position: absolute;
  text-align: center;
}

p {
  margin: 0px;
  text-align: left;
}

.memory-bar-normal {
  opacity: 0.85;
}

.memory-bar-hightlight {
  opacity: 0.5;
}

.src-code {
  background: #FBFBFB;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco;
  font-size: 12px;
  height: 100%;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre;
  width: 50%;
}

.src-line-number {
  background-color: #D2D7D3;
  display: table-cell;
  padding-right: 8px;
  text-align: right;
  width: 28px;
}

.src-line-code {
  display: table-cell;
  padding-left: 5px;
}

.src-line-normal {
  display: block;
  opacity: 1;
}

.src-line-highlight {
  display: block;
  opacity: 0.6;
}
