html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.chart {
  overflow: auto;
  height: 100%;
}

svg {
  padding: 10px;
  font-size: 13px;
}

.rect-normal {
  stroke: white;
  stroke-width: 2;
  opacity: 0.85;
}

.rect-hightlight {
  stroke: white;
  stroke-width: 4;
  opacity: 0.85;
}
.tooltip-visible {
  display: block;
}

.tooltip-invisible {
  display: none;
}

.legend {
  font-size: 15px;
}

.tooltip-rect {
  fill: white;
  stroke: #212121;
  stroke-width: 2;
}