html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica;
}

#profile-chart {
  display: block;
}

#memory-chart {
  display: none;
}

.tab-content {
  border: 1px solid black;
  border-radius: 8px;
}

.tab-header {
  margin: 0;
}

.tab-header li {
  border-left: 1px solid black;
  border-radius: 8px 8px 0px 0px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  cursor: pointer;
  display: inline-block;
  padding: 5 50px;
}

.selected {
  background: #FFF;
}

.not-selected {
  background: #ECECEC;
}

.chart {
  overflow: auto;
}

svg {
  font-size: 13px;
  padding: 10px;
}

.rect-normal {
  opacity: 0.85;
  stroke: white;
  stroke-width: 2;
}

.rect-hightlight {
  opacity: 0.85;
  stroke: white;
  stroke-width: 4;
}
.tooltip-visible {
  display: block;
}

.tooltip-invisible {
  display: none;
}

.tooltip-rect {
  fill: white;
  stroke: #212121;
  stroke-width: 2;
}

.legend {
  font-size: 15px;
}
